*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

:root {
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #255ee9;
    --color-contrast: #aebbe7;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary)
}

header {
    background-color: var(--color-header-bg);
}

/* utility */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container > img {
    max-width: 100%;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.hero {
    color: var(--color-secondary);
}

.hero-anchor {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 313px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    box-shadow: 5px 5px 0 1px #57F287;
    background-color: var(--color-secondary);
    border-radius: 10px;
}

.padding {
    padding: 10px;
}

.padding-large {
    padding: 40px;
}

.white-anchor {
    color: var(--color-secondary);
    text-decoration: none;
}

.white-anchor:hover {
    text-decoration: underline;
}

.grey-background {
    background-color: var(--color-section-bg);
}

.video {
    border-radius: 10px;
}

.font {
    font-size: 60px;
    font-weight: 800px;
}
/* flex utility */
.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
    align-content: center;
}


.justify-center {
    justify-content: center;
}

.column-direction {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}
/* button */

.hero-anchor:hover {
    box-shadow: 7px 7px 0 1px #23272A;
    background-color: #57F287;
    transition: 0.5s;
    }

    
.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.btn-white {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn-black {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.btn-violet {
    background-color: var(--color-contrast);
    color: var(--color-secondary);
}

.btn-white:hover {
    color: var(--color-header-bg);
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: ease-in-out 0.5s;
}

/* animation */
.arrow:hover {
    animation: arrow-slide 2s ease 0s 1 normal forwards;
}

@keyframes arrow-slide {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100px);
	}
}

/* footer */

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

footer .top {
    border-bottom: 1px solid var(--color-contrast);
}