* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* general */

:root {
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #255ee9;
    --color-contrast: #aebbe7;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary)
}

/* header */

header {
    background-color: var(--color-header-bg);
    color: var(--color-secondary);
}

#hero {
    background-image: url('../img/jumbo.png');
    min-height: 500px;
    background-size: cover;
    padding-top: 100px;
}

/* main */

.section-bg {
    background-color: var(--color-section-bg);
}

.left {
    width: 60%;
}

.left img {
    width: 100%;
}

.right {
    width: 40%;
    padding-top: 3%;
}

/* footer */

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

footer .top {
    border-bottom: 1px solid var(--color-contrast);
}

select {
    border: none;
    background-color: transparent;
    color: var(--color-secondary);
    padding: 10px;
}

/* utility */

.wave>img {
    width: 100%;
    font-size: 1px;
}

.wave {
    font-size: 0;
}

.rotate-image {
    transform: rotate(180deg);
}

.font {
    font-size: 40px;
    font-weight: 800px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}

.padding-paragraph {
    padding: 20px 0 10px;
}

.margin {
    margin: 30px;
}

.padding {
    padding: 20px;
}

.line-height-paragraph {
    line-height: 30px;
}

.padding-right {
    padding-right: 10px;
    display: inline-block;
}

.white-anchor {
    color: var(--color-secondary);
    text-decoration: none;
}

.white-anchor:hover {
    text-decoration: underline;
}

.top-anchor {
    color: var(--color-header-bg);
    text-decoration: none;
}

.text-align {
    text-align: center;
}

.ita-flag {
    width: 20px;
    height: 15px;
}

/* utility flex */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
    align-content: center;
}

.column-direction {
    flex-direction: column;
}

/* button */

.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.btn-white {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn-black {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.btn-violet {
    background-color: var(--color-contrast);
    color: var(--color-secondary);
}

.btn-white:hover {
    color: var(--color-header-bg);
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: ease-in-out 0.5s;
}